body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;/*altura do header*/
}
.container {
    display: flex;
    justify-content: space-between;/*uma div na esquerda e outra na direita*/
    width: 990px;/*é a largura do header*/
    background-color: yellowgreen;
}
.logo {
 /*display:flex; e align-items:center; para alinhar no centro na vertical*/
 display: flex;
 align-items: center;
}
.menu {

}