*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    /*para alinha uma div tem que está com essas propriedade |displya:flex; e justify-contente:center;|*/
    display: flex;
    justify-content: center;
    height: 120px;/*altura do header*/
}
.container {
    display: flex;
    justify-content: space-between;/*uma div na esquerda e outra na direita*/
    width: 990px;/*é a largura do header*/
}
.logo {
 /*display:flex; e align-items:center; para alinhar no centro na vertical*/
 display: flex;
 align-items: center;
}
.menu {
    /*usa-se display:flex; e align-itens:center; ficar no centro na vertical*/
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;/*para tirar os pontinhos da frente de cada link do menu*/
    margin:0;
    padding:0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;/*serve para alterar tamanho e area do */
    padding: 15px;/*para o testo ficar no centro de cada menu*/
    text-decoration: none;/*para tirar o sublinha de cada menu*/
    text-transform: uppercase;/*para as letras do menu ficar todas maiúsculas*/
    color:#727272;/*cor das letras do menu*/
}
nav .active a,
nav a:hover {/*hover, quando passar o mouse o menu muda de cor*/
    background-color: #39aae1;
    color: #FFFFFF;/*quando passar o mouse a letra fica branca*/
}
/*================FIM DO MENU===========================*/
/*=========INICIO DO PRIMEIRO BANER===================*/
 /* display:flex; e justifay-content:center; para alinhar a image no centro*/ 
#baner {
display: flex;
justify-content: center;
 background-image: url('../images/img1.jpg');/*image de fundo do banner*/
 background-position:center ;/*pra image ficar no centro da section*/
 background-size:cover;/*para preecher o espaço da section*/
 height: 670px;/*altura do baner*/
}
.column {
    flex-direction: column;
}
.baner-texto {
    flex: 1;
    display: flex;
    flex-direction: column;/*display,flex-direction, justify-content,centro*/
    justify-content: center;
}
.baner-texto h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 2px 4px 0px #555555;
    /*text-shadow: 1º do lado,2º baixo 3º espalhamento*/
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.baner-texto h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 1px 2px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

/*==========INICIO DOS 3 MINI BANER=======================*/
.baner-3cores {
    height: 210px;
    display: flex;
}
.baner1,
.baner2,
.baner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
.baner1 {
    background-color: #39aae1;
}
.baner2 {
    background-color: #0079c7;
}
.baner3 {
    background-color:#2b4c99; 
}
.baner-titulo {
    font-size: 21px;
}
.baner-desc {
    font-size: 12px;
    margin-top:20px;
    margin-bottom:20px;
}
.baner-3cores a {
    display: inline-block;
    border:1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;/*para tirar o sublinhado*/
}
/*========FIM DOS 3 MINI BANER=================*/
/*=========FIM DO PRIMEIRO BANER==============*/
/*=========INICIO DO SEGUNDO BANER===========*/
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
} 
.widget-titulo {
    margin-top:30px;
    margin-bottom:20px;
}
.widget-titulo-texto {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widget-titulo-barra {
    width: 50px;
    height: 3px;
    background-color: #36a9c1;
    margin-top:10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;/*para quebar a linha*/
}
/*========FIM DO SEGUNDO BANER==========*/
article {
    flex:1;
    min-width:300px;
    margin-right:20px;/*marge a direita*/
}
article a {
    text-decoration: none;/*para tirar o sublinhado*/
}
article .news-data {
    display: flex;
}
article .news-postad {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;/*marge vegical*/
}
article .news-coments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}
article .news-thumbnail {
    margin-top: 30px;
}
article .news-thumbnail img {
    width: 100%;
    height: auto;
}
article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color:#000000;
    font-size: 23px;
}
article .news-resume {
    color:#5c5c5c;
    font-size: 14px;
    line-height: 20px;/*espaço entre linhas*/
    margin-bottom: 30px;
}
/*=========================footer============*/
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer-menu {
    display: flex;
    flex: 1;
}
.fm1, .fm2, .fm3 {
    flex:1;
}
.fm1 {
    background-color: #39aae1;
}
.fm2 {
    background-color: #0079c7;
}
.fm3 {
    background-color:#2b4c99; 
}
